.floatRight {
    float: right;
}

.imageSize {
    display: block;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
}

.announcementCard {
    margin-top: 0 auto;
}

.centerScreen {
    margin-top: 10vh !important;
}